<p-panel header="Cadastro de usuário" [style]="{ 'margin': 'auto', 'width': '50%' }">
  <form [formGroup]="formCadastro" (ngSubmit)="criarUsuario()">
    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input type="text" pInputText class="form-control" formControlName="nome" placeholder="Nome completo" required>
    </div>

    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
      <p-calendar id="dataNascimento" formControlName="dataNascimento" placeholder="Data de nascimento"
        dateFormat="dd/mm/yy" [minDate]="minDate"></p-calendar>
    </div>

    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-user-plus"></i></span>
      <p-dropdown [options]="generos" formControlName="genero" optionLabel="nome" placeholder="Genero"></p-dropdown>
    </div>

    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <p-dropdown [options]="escolaridades" formControlName="escolaridade" optionLabel="nome"
        placeholder="Escolaridade"></p-dropdown>
    </div>

    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
      <input type="text" pInputText class="form-control" formControlName="cpf" placeholder="CPF" required>
    </div>

    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
      <input type="text" pInputText class="form-control" formControlName="celular" placeholder="Celular" required>
    </div>

    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-briefcase"></i></span>
      <input type="text" pInputText class="form-control" formControlName="instituicao" placeholder="Instituição"
        required>
    </div>

    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
      <input type="text" pInputText class="form-control" formControlName="curso" placeholder="Curso" required>
    </div>

    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
      <input type="email" pInputText class="form-control" formControlName="email" placeholder="Email" required>
    </div>

    <p-button type="submit">Cadastrar</p-button>
  </form>
</p-panel>
